@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
/* FONTS
=========================== */
@font-face {
	font-family: 'sansserifexbflf-italic';
	src: url('./font/sansserifexbflf-italic.otf');
  }
body {
	background: #f1fbff;
	width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.blue-line-abt {
    width: 100px; /* Adjust the width as needed */
    height: 3px;  /* Adjust the height as needed */
    background-color: rgb(0, 162, 255); /* Color of the line */
    margin: 0 auto; /* Center the line horizontally */
}

.section-padding {
	padding: 5% 0 0 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.navbar {
	background-color: #ffffff;
}
.navbar.scrolled {
    background-color: #fff;
}


.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: transparent;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-light .navbar-nav .nav-link.active {
	border-bottom: 3px solid rgb(255,196,12); /* You can change the color as needed */
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 5px;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}

#btn{
	line-height: 2.0;
}

/* .wrapper1,.single-card {
	height: auto;
	max-width: 200px;
	margin: auto 100px auto 100px;
	position: relative;
}

.wrapper1{
	perspective: 900px;
}

.single-card {
	text-align: center;
	transition:all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
	transform-style: preserve-3d;
	margin: 0;
}

.wrapper1:hover .single-card {
	transform: rotateY(180deg);
}

.front,
.back {
	width:250px;
	position: relative;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.front{
	cursor: pointer;
	height: 350px;
	backface-visibility: hidden;
	border-radius: 20px;
	background-size: cover;
	background-position: center center;
	background-color: #ffffff;
	padding-bottom: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here 

} 

.front p{
	margin: 10% 7% 10% 7%;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 20px;
    height: 350px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
	background-color: rgb(223, 223, 223);
}

.back h2{
	margin-top: 10%;
}

.back p{
	margin: 10% 10% 10% 5%;
}

.back button{
	background-color: #3ee5ff;
	padding: 7px;
	border: none;
	margin-bottom: 5px;
}

.back button a{
	text-decoration: none;
	color: #ffffff;
}



.content1 h2{
	font-size: 30px;
}
.content1 h4{
	margin: 0;
}
.socials1{
	margin-top: 20%;
}
.socials1 i{
	font-size: 30px;
	margin: 0 10px;

} */
.abtrow{
	margin-right: 0px!important;
	margin-left: 0px!important;
}

@media screen and (max-width: 500px) {
    .abtrow {
        margin-right: 0 !important;
        margin-left: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
    }
}


.card1{
	padding: 0px!important;
	
}
.container3 {
	width: 300px;
	height: 350px;
	perspective: 800px;
	margin: 6% 3%;
  }
  
  .container3:hover > .card3 {
	cursor: pointer;
	transform: rotateY(180deg);
  }
  
  .card3 {
	height: 100%;
	width: 100%;
	position: relative;
	transition: transform 1500ms;
	transform-style: preserve-3d;
  }
  
  .front3,
  .back3 {
	height: 100%;
	width: 100%;
	border-radius: 2rem;
	box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
	position: absolute;
	backface-visibility: hidden;
  }
  
  .front3 {
	 /* background-image: url(https://source.unsplash.com/random/350x500); */
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	height: 350px;
	backface-visibility: hidden;
	border-radius: 20px;
	background-size: cover;
	background-position: center center;
	padding: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .back3 {
	
	transform: rotateY(180deg);
    position: absolute;
    border-radius: 20px;
    height: 350px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
	/* background-color: rgb(223, 223, 223); */
	background-color: #3ee5ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  .front3 p{
	margin: 2% 7% 10% 7%;
	text-align: center; 
}
/* 
.front3 h2{
	margin-left: 26%;
} */



.back3 p{
	margin: 10% 10% 10% 5%;
	text-align: center; 
	color: #FFFFFF;
}

.back3 h2{
	color: #FFFFFF;
}

.back3 button{
	/* background-color: #3ee5ff; */
	background-color: rgb(223, 223, 223);
	padding: 7px;
	border: none;
	margin-bottom: 5px;
	
}

.back3 button a{
	text-decoration: none;
	color: #000000;
}


.big-eye {
	color:rgb(255, 225, 0);
	font-size: 24px; /* Adjust the size as needed */
	border: 2px solid #000; /* Dark border color */
	border-radius: 50%; /* Make it round */
	padding: 8px; /* Add some padding for spacing */
	background-color: #000;
	
}

.rocket {
		color:rgb(255, 225, 0);
		font-size: 24px; /* Adjust the size as needed */
		border: 2px solid #000; /* Dark border color */
		border-radius: 50%; /* Make it round */
		padding: 8px; /* Add some padding for spacing */
		background-color: #000;
		margin-top: 15px;
		margin-bottom: 10px;
}



@media screen and (max-width: 500px) {
	
.wrapper1,.single-card {
	height: auto;
	max-width: 200px;
	margin: auto;
	position: relative;
}

.wrapper1{
	perspective: 900px;
}

.single-card {
	text-align: center;
	transition:all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
	transform-style: preserve-3d;
	transform-origin: center center; 
	

}

.wrapper1:hover .single-card {
	transform: rotateY(180deg);
}

.front,
.back {
	width:250px;
	position: relative;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.front{
	cursor: pointer;
	height: 350px;
	backface-visibility: hidden;
	border-radius: 20px;
	background-size: cover;
	background-position: center center;
	background-color: #ffffff;
	padding-bottom: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
	margin-bottom: 20px;

}

.front p{
	margin: 10% 7% 10% 7%;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 20px;
    height: 350px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
	background-color: rgb(223, 223, 223);
	
	
}

.back h2{
	margin-top: 10%;
}

.back p{
	margin: 10% 10% 10% 5%;
}

.back button{
	background-color: #3ee5ff;
	padding: 7px;
	border: none;
	margin-bottom: 5px;
}

.back button a{
	text-decoration: none;
	color: #ffffff;
}



.content1 h2{
	font-size: 30px;
}
.content1 h4{
	margin: 0;
}
.socials1{
	margin-top: 20%;
}
.socials1 i{
	font-size: 30px;
	margin: 0 10px;

}

.big-eye {
	color:rgb(255, 225, 0);
	font-size: 24px; /* Adjust the size as needed */
	border: 2px solid #000; /* Dark border color */
	border-radius: 50%; /* Make it round */
	padding: 8px; /* Add some padding for spacing */
	background-color: #000;
	margin-top: 15px;
	margin-bottom: 10px;
}

.rocket {
		color:rgb(255, 225, 0);
		font-size: 24px; /* Adjust the size as needed */
		border: 2px solid #000; /* Dark border color */
		border-radius: 50%; /* Make it round */
		padding: 8px; /* Add some padding for spacing */
		background-color: #000;
		margin-top: 15px;
		margin-bottom: 10px;
}

}



@media only screen and (max-width:396px){
	.navbar-light .navbar-brand{
		font-size: 18px;
	}
	.w-100 {
		height: 60vh;
	}
	.carousel-item {
		margin-top: 50px;
		height: 60vh;
		
	}

	#btn{
		line-height: 1.2;
	}

	#about-button{
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin: 20px auto;	
		line-height: 2.0;
	}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

/*** Service ***/
.service-item {
    position: relative;
    margin: 65px 0 25px 0;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
	

}

.img-large{
	width: 100%;
	height: 25rem;
}

.service-item .service-img {
    position: absolute;
    padding: 12px;
    width: 130px;
    height: 183px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .service-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.service-item .service-title {
    position: absolute;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-title {
    top: -100%;
}

.service-item .service-text {
    position: absolute;
    overflow: hidden;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(2, 36, 91, .7);
    transition: .5s;
}

.service-item:hover .service-text {
    top: 0;
}

.service-item .service-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    top: -100%;
    left: 0;
    transform: skewY(-12deg);
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-text::before {
    top: -55px;
}

.service-item .btn {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background: #FFFFFF;
    border: none;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*new service */

.wrapper-ser{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-ser h1{
    font-size: 3em;

    margin: 10px;
}
.content-box-ser{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 30px;
	gap: 50px;
	
}
.card-ser{
    min-height: 220px;
    width: 320px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
	
}
.card-ser i{
    margin: 20px;
    color: #581ed6;
}
.card-ser h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card-ser p{
    color: #6c757d;
    text-align:justify;
}
.card-ser:hover i,
.card-ser:hover p{
    color: #fff;
}
.card-ser:hover h2{
    font-weight: 600;
}
.card-ser:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg.webp');
                                    background-size: cover;
}
.card-ser:nth-child(2):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg2.jpg');
                                    background-size: cover;
}
.card-ser:nth-child(3):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg3.jpg');
                                    background-size: cover;
}
.card-ser:nth-child(4):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg4.jpg');
                                    background-size: cover;
}
.card-ser:nth-child(5):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg5.jpeg');
                                    background-size: cover;
}
.card-ser:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('../img/bg6.jpg');
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper-ser{
        padding: 25px;
    }
    .wrapper-ser h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box-ser{
        flex-direction: column;
        width: 100%;
    }
	.card-ser{
		width: auto;
	}
    .card-ser:nth-child(2):hover{
        min-width: 300px;
        margin: 10px auto;
    }
}

/*----------------------------*/

#footer{
	text-decoration: none;
}

.wav{
	position: relative;
	width: 100%;
	height: 20vh;
	background: transparent;
	overflow: hidden;
	color: #858585;
}

.wav .wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23212529'/%3E%3C/svg%3E"
	);
	background-size: 900px 100px;
	
}	

.wav .wave.wave1
{
	animation: animate 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
	
}


@keyframes animate2 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -1000px;
	}
}

.wav .wave.wave2
{
	animation: animate2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	animation-delay: -5s;
	
}


@keyframes animate {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1000px;
	}
}

.wav .wave.wave3
{
	animation: animate 30s linear infinite;
	z-index: 998;
	opacity: 0.2;
	animation-delay: -5s;
	bottom: 15;
}
.wav .wave.wave4
{
	animation: animate2 5s linear infinite;
	z-index: 997;
	opacity: 0.7;
	animation-delay: -5s;
	bottom: 20px;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 10px; /* Adjust the left position as needed */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Center the icon vertically */
	size: 10px;
}
.input-icon-msg {
    position: absolute;
    left: 10px; /* Adjust the left position as needed */
    top: 22%; /* Center the icon vertically */
    transform: translateY(-50%); /* Center the icon vertically */
}

.form-control {
	padding-left: 32px;
}
  


/* front home
=========================== */


/* CONTENT
=========================== */
.content {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .split {
	
	position: relative;
	
	width: 50%;
	height: 100%;
	transition: 1s all cubic-bezier(.87, .76, .33, .98);
	overflow: hidden;
  }
  
  .split.left {
	
	background: #d4d4d4;
  }
  
  .split.right {
	
	background: #858585;
  }
  
  .hover-left .split.left {
	width: 60%;
  }
  
  .hover-left .split.right {
	width: 40%;
  }
  
  .hover-right .split.right {
	width: 60%;
  }
  
  .hover-right .split.left {
	width: 40%;
  }
  
  .skateboard {
	margin-top: 29%;
	width: 100%;
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .shoes {
	margin-top: 27%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .text {
	
	width: 80%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s cubic-bezier(.87, .76, .33, .98);
  }
  
  .text .subtitle {
	font-size: 90%;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
  }
  
  .text .title {
	font-size: 300%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'sansserifexbflf-italic';
	line-height: 1;
	/* margin-bottom: 10px; */
	/* letter-spacing: 5px; */
	/* margin-top: 10px; */
  }
  
  .text .desc {
	font-size:80%;
	color: #fff;
	font-weight: 300;
	line-height: 2;
	margin: 0px 0 30px 0;
  }
  

  
  .text .button {
	font-size: 120%;
	color: #ffea00;
	background-color: rgba(91, 91, 91, 0.5);
	border: #ffea00 solid 2px;
	padding: 10px 30px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
	border-radius: 50px;
	
  }
  .text .button:hover {

	background-color: #ffffff;
	color: #000000;
	
  }
  
  .hover-left .split.left .text {
	transform: translate(-40%, -50%);
  }
  
  .hover-left .split.right .text {
	transform: translate(-40%, -50%);
  }
  
  .hover-right .split.right .text {
	transform: translate(-60%, -50%);
	margin-left: 10%;
  }
  
  .hover-right .split.left .text {
	transform: translate(-45%, -50%);
  }
  #home1{
	color: #000;
  }

  @media screen and (max-width: 370px) {
	#about{
		margin-top: 470px;
	}	
  }
  @media screen and (max-width: 400px) and (min-width: 370px) {
	#about{
		margin-top: 110%;
	}
  }

  @media screen and (max-width: 500px) and (min-width: 390px) {
	#about{
		margin-top: 550px;
	}
  }
  @media screen and (max-width: 500px) {

	
   
	.split{
	  height: 100%;
	}
  
	.text {
	  top: 30%;
	  transform: translate(-50%, -50%); 
	}
  
	.text .title {
	  font-size: 150%;
	}
	.text .desc {
	  width: 100%;
	}
	.content{
	  display: block;
	  height:70%;
	  margin-top: 13%;
  
	}
	/* #about{
		margin-top: 600px;
	} */
	.split.left {
	
	  width:100%;
	}
	
	.split.right {
	  
	  width:100%;
	}
	.hover-left .split.left{
	  width:100%;
	  
	}
	.hover-left .split.right {
	  width:100%;
	}
	.hover-right .split.left {
	  width:100%;
	}
	.hover-right .split.right {
	  width:100%;
  	}
    .hover-left .split.right .text {
    transform: translate(-50%, -50%);
	}
	.hover-left .split.left .text {
	transform: translate(-50%, -50%);
	}
	.hover-right .split.left .text {
	transform: translate(-50%, -50%);
	}
	.hover-right .split.right .text{
	transform: translate(-50%, -50%);
	   margin-left: 0%;
	}

	.skateboard {
		margin-top: 29%;
		width: 100%;
	   position: absolute;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
	  
	  .shoes {
		margin-top: 27%;
		width: 100%;
		position: absolute;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }

	  .navbar-light .navbar-nav .nav-link.active {
		border-bottom: none; /* You can change the color as needed */
	  }
  }

  /* contact  */
.iframe{
	filter:invert(100%);
}