@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
/* FONTS
=========================== */
@font-face {
	font-family: 'sansserifexbflf-italic';
	src: url('./font/sansserifexbflf-italic.otf');
  }
body {
	background: #f1fbff;
	width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-light .navbar-nav .nav-link.active {
	border-bottom: 2px solid red; /* You can change the color as needed */
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 5px;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}

#btn{
	line-height: 2.0;
}

@media only screen and (max-width:396px){
	.navbar-light .navbar-brand{
		font-size: 18px;
	}
	.w-100 {
		height: 60vh;
	}
	.carousel-item {
		margin-top: 50px;
		height: 60vh;
		
	}

	#btn{
		line-height: 1.2;
	}

	#about-button{
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin: 20px auto;	
		line-height: 2.0;
	}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

/*** Service ***/
.service-item {
    position: relative;
    margin: 65px 0 25px 0;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
	

}

.img-large{
	width: 100%;
	height: 25rem;
}

.service-item .service-img {
    position: absolute;
    padding: 12px;
    width: 130px;
    height: 100px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .service-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.service-item .service-title {
    position: absolute;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-title {
    top: -100%;
}

.service-item .service-text {
    position: absolute;
    overflow: hidden;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(2, 36, 91, .7);
    transition: .5s;
}

.service-item:hover .service-text {
    top: 0;
}

.service-item .service-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    top: -100%;
    left: 0;
    transform: skewY(-12deg);
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-text::before {
    top: -55px;
}

.service-item .btn {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background: #FFFFFF;
    border: none;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

#footer{
	text-decoration: none;
}

/* front home
=========================== */


/* CONTENT
=========================== */
.content {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .split {
	
	position: relative;
	
	width: 50%;
	height: 100%;
	transition: 1s all cubic-bezier(.87, .76, .33, .98);
	overflow: hidden;
  }
  
  .split.left {
	
	background: #d4d4d4;
  }
  
  .split.right {
	
	background: #858585;
  }
  
  .hover-left .split.left {
	width: 60%;
  }
  
  .hover-left .split.right {
	width: 40%;
  }
  
  .hover-right .split.right {
	width: 60%;
  }
  
  .hover-right .split.left {
	width: 40%;
  }
  
  .skateboard {
	margin-top: 29%;
	width: 100%;
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .shoes {
	margin-top: 27%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .text {
	
	width: 80%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s cubic-bezier(.87, .76, .33, .98);
  }
  
  .text .subtitle {
	font-size: 90%;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
  }
  
  .text .title {
	font-size: 300%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'sansserifexbflf-italic';
	line-height: 1;
	/* margin-bottom: 10px; */
	/* letter-spacing: 5px; */
	/* margin-top: 10px; */
  }
  
  .text .desc {
	font-size:80%;
	color: #fff;
	font-weight: 300;
	line-height: 2;
	margin: 0px 0 30px 0;
  }
  

  
  .text .button {
	font-size: 120%;
	color: #ffea00;
	background-color: rgba(91, 91, 91, 0.5);
	border: #ffea00 solid 2px;
	padding: 10px 30px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
	border-radius: 50px;
	
  }
  .text .button:hover {

	background-color: #ffffff;
	color: #000000;
	
  }
  
  .hover-left .split.left .text {
	transform: translate(-40%, -50%);
  }
  
  .hover-left .split.right .text {
	transform: translate(-40%, -50%);
  }
  
  .hover-right .split.right .text {
	transform: translate(-60%, -50%);
	margin-left: 10%;
  }
  
  .hover-right .split.left .text {
	transform: translate(-45%, -50%);
  }
  #home1{
	color: #000;
  }
  
  @media screen and (max-width: 500px) {
   
	.split{
	  height: 100%;
	}
  
	.text {
	  top: 30%;
	  transform: translate(-50%, -50%); 
	}
  
	.text .title {
	  font-size: 150%;
	}
	.text .desc {
	  width: 100%;
	}
	.content{
	  display: block;
	  height:70%;
	  margin-top: 15%;
  
	}
	#about{
		margin-top: 110%;
	}
	.split.left {
	
	  width:100%;
	}
	
	.split.right {
	  
	  width:100%;
	}
	.hover-left .split.left{
	  width:100%;
	  
	}
	.hover-left .split.right {
	  width:100%;
	}
	.hover-right .split.left {
	  width:100%;
	}
	.hover-right .split.right {
	  width:100%;
  	}
    .hover-left .split.right .text {
    transform: translate(-50%, -50%);
	}
	.hover-left .split.left .text {
	transform: translate(-50%, -50%);
	}
	.hover-right .split.left .text {
	transform: translate(-50%, -50%);
	}
	.hover-right .split.right .text{
	transform: translate(-50%, -50%);
	   margin-left: 0%;
	}

	.skateboard {
		margin-top: 29%;
		width: 100%;
	   position: absolute;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
	  
	  .shoes {
		margin-top: 27%;
		width: 100%;
		position: absolute;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }

	  .navbar-light .navbar-nav .nav-link.active {
		border-bottom: none; /* You can change the color as needed */
	  }
  }

  /* contact  */
.iframe{
	filter:invert(100%);
}